<div class="topbar1">
  <div class="left">
    <img class="logo" src="/img/logo.png" alt="logo">
    <span class="title">학일화 - 대시보드</span>
  </div>
  <div class="right">
    <span class="name"><%= user.name %>님</span>
    <span id="logout_btn" class="logout">로그아웃</span>
  </div>
</div>