<!doctype html>
<html lang="ko">
<head>
  <meta charset="UTF-8">
  <meta name="viewport"
        content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>학일화 - 대시보드</title>

  <link rel="icon" href="/img/logo.png" type="image/x-icon">

  <link rel="stylesheet" href="/css/global.css">
  <link rel="stylesheet" href="/css/dashboard.css">
</head>
<body>
  <div class="container">
    <%- include(`./dashboard/topbar.ejs`, {user: user}) %>
    <div class="column">
      <%- include(`./dashboard/sidebar.ejs`, {sidebarMenus: sidebarMenus, page: page}) %>
      <div class="content">
        <%- include(`./dashboard/page/${page}.ejs`, {data: data}) %>
      </div>
    </div>
  </div>
</body>
<script src="/js/dashboard.js"></script>
<script>
  init();
</script>
</html>