<!doctype html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
    content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>학일화</title>
    <link rel="stylesheet" href="/css/global.css">
    <link rel="stylesheet" href="/css/index.css">
</head>
<body>
    <div class="container">
        <div class="introduce">
            <div class="title noselect">학일화</div>
            <div class="subtitle noselect">간편한 학사일정 동기화 서비스</div>
        </div>
        <div class="btn_container">
            <button id="start" class="btn noselect">
                시작하기
            </button>
        </div>
    </div>
</body>
<script src="/js/index.js"></script>
<script>
    init();
</script>
</html>
