.container {
  display: flex;
  flex-direction: column;

  > .topbar {
    height: 4.6%;
    width: 100%;

    border-bottom: 2px solid var(--border-color);

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    > .left {
      height: 60%;
      width: 50%;

      display: flex;
      flex-direction: row;
      align-items: center;
      > .logo {
        height: 100%;

        margin-left: 1%;
      }
      > .title {
        font-size: 1.3rem;
        font-weight: 500;

        margin-left: 0.5%;

        color: var(--text-color-menu-title)
      }
    }

    > .right {
      margin-right: 1%;
    }
  }

  > .row {
    height: 95%;

    display: flex;
    flex-direction: row;

    > .sidebar {
      height: 100%;
      width: 13%;

      border-right: 2px solid var(--border-color);

      display: flex;
      flex-direction: column;

      > .sidebar_menu-item {
        height: 4%;
        width: 100%;

        display: flex;
        flex-direction: row;
        align-items: center;

        font-size: 1rem;
        text-decoration: none;

        border-bottom: 2px solid var(--border-color);

        > img {
          margin-left: 6%;
          height: 50%;
        }

        > span {
          margin-left: 2%;

          color: var(--text-color-menu-item);
        }
      }

      > .sidebar_menu-item.selected {
        background-color: var(--border-color);

        > span {
          color: var(--text-color-menu-item-selected);
        }
      }
    }

    > .content {
      width: 87%;
    }
  }
}