@font-face {
  font-family: "SUIT";
  src: url("/fonts/SUIT-Thin.ttf") format("truetype");
  font-weight: 100;
}

@font-face {
  font-family: "SUIT";
  src: url("/fonts/SUIT-ExtraLight.ttf") format("truetype");
  font-weight: 200;
}

@font-face {
  font-family: "SUIT";
  src: url("/fonts/SUIT-Light.ttf") format("truetype");
  font-weight: 300;
}

@font-face {
  font-family: "SUIT";
  src: url("/fonts/SUIT-Regular.ttf") format("truetype");
  font-weight: 400;
}

@font-face {
  font-family: "SUIT";
  src: url("/fonts/SUIT-Medium.ttf") format("truetype");
  font-weight: 500;
}

@font-face {
  font-family: "SUIT";
  src: url("/fonts/SUIT-SemiBold.ttf") format("truetype");
  font-weight: 600;
}

@font-face {
  font-family: "SUIT";
  src: url("/fonts/SUIT-Bold.ttf") format("truetype");
  font-weight: 700;
}

@font-face {
  font-family: "SUIT";
  src: url("/fonts/SUIT-ExtraBold.ttf") format("truetype");
  font-weight: 800;
}

@font-face {
  font-family: "SUIT";
  src: url("/fonts/SUIT-Heavy.ttf") format("truetype");
  font-weight: 900;
}

:root {
  --border-color: #f3f3f3;
  --text-color-menu-title: #202124;
}

html {
  font-family: "SUIT";
  font-size: clamp(0.5rem, 1.5vh, 2rem);
}

.container {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Old versions of Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */
}
